body {
    background-color: #C14040;
    font-family: 'Bree Serif', serif;
}

.navbar {
    background-color: #EFE3E3;
    border-radius: 1em;
    margin:1em 0 0.5em 0;
}

.navbar-brand {
    font-size: 1.5em;
}
.navbar-brand, .nav-link {
    color: #C14040!important;
}

.picture-size {
    width: 85%;
    padding: 1em;
    margin: 1em 1em 0 1em;
}

.details {
    background-color: #982C2C;
    border-radius: 2em;
    margin: 0.75em;
}

.name {
    display: flex;
    justify-content: center;
    padding-bottom: 0.75em;
    color: white;
    font-size: 1.2em;
}

.pokemon-link {
    color: white;
    font-weight: normal;
}

.pokemon-link:hover{
    text-decoration: none;
}

.name:hover {
    background-color: rgba(255, 255, 255, 0.4); /* 0.4 = transparence => 1=opaque, 0=transparent */
    border-radius: 6px;
    margin:0 30%;
    padding-bottom:2.5%;

}

/*  Page detail */

.main-detail, .p {
    color: white;
}

.div-row {
    font-weight: bold;
}

#div-detail {
    margin:10px auto;
}

.bloc-detail {
    background-color: #AB3838;
    border-radius: 0.75em;
    padding: 3% 1%;
}

.img {
    margin: auto;
}

.pokemon-link.return {
    color: white;
}

.return:hover {
    background-color: rgba(255, 255, 255, 0.4); /* 0.4 = transparence => 1=opaque, 0=transparent */
    border-radius: 6px;
    padding:0.45%;
    color: #632B2B ;
}

.pokemon-types-item {
    padding: 0.25em 0.45em;
    margin: 0 0.35em;
    border-radius: 0.25em;
}

.pokemon-link.type-name:hover{
    color: black;
}
.progress {
    background-color: #632B2B;
}

.progress-bar {
    background-color: white;
}

/* page liste des types de pokémons */

.types-item {
    padding:1.5%;
    border-radius: 0.5em;
    min-width: 24%;
    max-width: 24%;
    margin: 0.5%;
}

.types-name, .types-name:hover {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
